.quarter {
    min-width: 25vw;
}

.half {
    min-width: 50vw;
}

.full {
    min-width: 100vw;
}

.full-percent {
    height: 100%;
}

.null-vmargin {
    margin-bottom: 0;
    margin-top: 0;
}

.bmargin40 {
    margin-bottom: 40px;
}
