.menu-div{
    background-color: #2b1f5c; 
    border: 5px black; 
    color: white;
    height: 10vh;
    margin-bottom: 0;
}

.menu-li{
    display: inline; 
    margin-right: 100px;
}

.menu-a{
    color: white; 
    font-size: 40px; 
    font-weight: bold;
}
